/*-- scss:defaults --*/

// fonts
$presentation-font-size-root: 40px !default;
$font-family-sans-serif: Marianne, serif !default;

/*-- scss:rules --*/
code {
  white-space: pre !important;
}

blockquote > p {
  font-style: italic;
}

/*-- leaflet --*/
.reveal .slide-logo {
  height: 10% !important;
  /*width: 100px!important;*/
  max-width: unset !important;
  max-height: unset !important;
}

li:has(.nobullet) {
  list-style: none;
}


kbd{
  border:1px solid #aaa;
  border-radius:0.2em;
  box-shadow:0.1em 0.1em 0.2em rgba(0,0,0,0.1);
  background-color:#f8f9fa;
  background-image:linear-gradient(to bottom, #eaecf0, #f8f9fa, #eaecf0);
  color:#202122;
  padding:0.1em 0.3em;
  font-family:sans-serif;
  font-size:0.85em}
